<h2 mat-dialog-title>Edit element</h2>
<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <mat-dialog-content>
        <mat-form-field floatLabel="always" appearance="outline" hideRequiredMarker>
            <mat-label>No.</mat-label>
            <input matInput [ngModel]="data.elementData.position" name="position" required #elementPosition="ngModel"/>
            <mat-error *ngIf="!elementPosition.valid && elementPosition.touched">Enter number</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline" hideRequiredMarker>
            <mat-label>Name</mat-label>
            <input matInput required [ngModel]="data.elementData.name" name="name" #elementName="ngModel" />
            <mat-error *ngIf="!elementName.valid && elementName.touched">Enter name</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline" hideRequiredMarker>
            <mat-label>Weight</mat-label>
            <input matInput required [ngModel]="data.elementData.weight" name="weight"  #elementWeight="ngModel" />
            <mat-error *ngIf="!elementWeight.valid && elementWeight.touched">Enter weight number</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline" hideRequiredMarker>
            <mat-label>Symbol</mat-label>
            <input matInput required [ngModel]="data.elementData.symbol" name="symbol"  #elementSymbol="ngModel"/>
            <mat-error *ngIf="!elementSymbol.valid && elementSymbol.touched">Enter symbol</mat-error>
        </mat-form-field>
    </mat-dialog-content>


    <mat-dialog-actions>
        <button mat-button mat-dialog-close type="submit" [disabled]="!f.valid" cdkFocusInitial>Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

</form>